<div id="templatemo_footer">
    	<div class="col col_16">
        	<h4>团队</h4>
            <ul class="footer_menu">
			    <li><a href="#">罗宁</a></li>
                <li><a href="#">柴彬</a></li>				
                <li><a href="#">张超杰</a></li>
                <li><a href="#">徐伟</a></li>				
		  </ul>  
        </div>
        <div class="col col_16">
        	<h4>页面</h4>
            <ul class="footer_menu">
            	<li><a href="#">主页</a></li>
                <li><a href="#">商品</a></li>
                <li><a href="#">文章</a></li>
                <li><a href="#">促销</a></li>
			</ul>  
        </div>
        <div class="col col_16">
        	<h4>团队</h4>
            <ul class="footer_menu">
            	<li><a href="#">王彩萍</a></li>
                <li><a href="#">赵丹</a></li>
                <li><a href="#">赵博</a></li>
                <li><a href="#">电子商务专业</a></li>
			</ul>  
        </div>
        <div class="col col_16">
        	<h4>分享</h4>
            <ul class="footer_menu">
            	<li><a href="#">新浪微博</a></li>
                <li><a href="#">人人网</a></li>
                <li><a href="#">微信</a></li>
                <li><a href="#">蘑菇街</a></li> 
		  </ul>  
        </div>
        <div class="col col_13 no_margin_right">
        	<h4>关于我们</h4>
            <p>我们是一个很好的团队！</p>
        </div>
        
        <div class="cleaner h40"></div>
		<center>
			Copyright © 2012 Binoh | 电子商务 <a href="" target="_parent" title="">商城</a>
		</center>
    </div>