<div id="sidebar">
        	<h3>{$title_user}，欢迎你！</h3>
            <ul class="sidebar_menu">
			    <li><a href="member.php">个人主页</a></li>
                <li><a href="member.php?do=order">订单详情</a></li>				
                <li><a href="member.php?do=co">收藏商品</a></li>
                <li><a href="member.php?do=bus">购物车</a></li>				
            	<li><a href="member.php?do=pay">充值</a></li>
                <li><a href="member.php?do=edit">修改信息</a></li>     
               
			</ul>
             <h3>商品搜索</h3>
            <p>最好的网上超市！</p>
            <div id="newsletter">
               <form action="search.php" method="get">
                  <input type="text" value="输入商品名称" name="key" id="email_newsletter" title="email_newsletter" onfocus="clearText(this)" onblur="clearText(this)" class="txt_field" />
                  <input type="submit" name="s_sub" value="搜索" alt="Subscribe" id="subscribebtn" title="Subscribe" class="subscribebtn"  />
                </form>
                <div class="cleaner"></div>
            </div>
        </div>
