<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Web Store Theme - Checkout</title>
<meta name="keywords" content="web store, checkout, free ecommerce templates, store templates, CSS, HTML" />
<meta name="description" content="Web Store Theme, Checkout, free CSS template provided by templatemo.com" />
<link href="{$temroot}css/templatemo_style.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" type="text/css" href="{$temroot}css/ddsmoothmenu.css" />

<script type="text/javascript" src="{$temroot}js/jquery.min.js"></script>
<script type="text/javascript" src="{$temroot}js/ddsmoothmenu.js">

/***********************************************
* Smooth Navigational Menu- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
***********************************************/

</script>

<script type="text/javascript">

ddsmoothmenu.init({
	mainmenuid: "templatemo_menu", //menu DIV id
	orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu', //class added to menu's outer DIV
	//customtheme: ["#1c5a80", "#18374a"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})

function clearText(field)
{
    if (field.defaultValue == field.value) field.value = '';
    else if (field.value == '') field.value = field.defaultValue;
}
</script>

</head>

<body id="subpage">

<div id="templatemo_wrapper">
	 <!-- END of header -->
    {include file='top.html'}
     <!-- end of templatemo_menu -->
    <div class="cleaner h20"></div>
    <div id="templatemo_main_top"></div>
    <div id="templatemo_main">
    	 {include file='mem_left.html'} 
         <!-- END of sidebar -->
       
        <div id="content">
       		<h2>个人主页</h2>
           
            <div class="col col_13 checkout">
				<table width="99%" border="0" align="center"  cellpadding="3" cellspacing="1" class="table_style">
                <tr>
                  <td width="40%" class="left_title"><span class="left-title">收藏商品</span></td>
                  <td width="40%">{$co_num}</td>
                </tr>
                <tr>
                  <td class="left_title">订单总数</td>
                  <td>{$order_num}</td>
                </tr>
                <tr>
                  <td class="left_title">购物车数量</td>
                  <td>{$bus_num}</td>
                </tr>
                 <tr>
                  <td class="left_title">剩余金额</td>
                  <td>{$user_arr.price}</td>
                </tr>
               
               
              </table>
              
            </div>
            
            <div class="col col_13 checkout">
            	
            </div>
            
           
               
		</div>
        <div class="cleaner"></div>
    </div> <!-- END of main -->
    {include file='foot.html'}
     <!-- END of footer -->   
   
</div>

</body>
</html>